.embla {
  position: relative;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  max-width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  padding-left: 3rem;
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__container:first-child {
  margin-left: 0.5rem;
}

.embla__slide {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 25%;
  padding-left: 10px;
  margin-left: 20px;
}

.embla__slide__inner {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  /* max-height: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.embla__slide__inner svg {
  max-height: 100%;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}
